/*--------INICIAR SESION y CONTACTO-------*/

.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
} 
.btn{
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
} 