/*--------INICIAR SESION y CONTACTO-------*/
@import"../base/variables";
@import"../base/maps-extend";

/*--------MAPS-------*/
$colors:(
    1: rgb(92, 160, 92),
    2: $marron,
);
@each $a,$v in $colors {
    .btn-#{$a}{
        background-color: #{$v};
    }
}

.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
} 

.btn-1{
@extend .btn-acceder;
} 

.btn-2{
    @extend .btn-acceder;
    } 


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
} 