/*------MAIN-------*/
@import"../base/variables";

.main{
    background-image: url("/imagenes/fondobeige.jpeg");
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    grid-area: main;
    .hero {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(80vh - 150px);
        background: linear-gradient(rgba(0, 0, 0, 0.508),rgba(0, 0, 0, 0.496));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/imagenes/hero.jpg");
        p{
            font-family:'Times New Roman', Times, serif;
            font-size: 60px;
            font-weight: 900;
        }
        }

        .section-one{
        h1 {
                font-size: 50px;
                text-align: center;
                margin-top: 5%;
            }
        h2 {
                font-size: 20px;
                text-align: center;
                padding: 20px;
            }
        }
        .productos h3 {
            text-align: left;
            margin: 20px 20px 40px 20px;
            font-weight: bold;
        }
        
        .productos div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items:center;
            flex-wrap: wrap;
            div {
                display: flex;
                flex-direction: row;
                justify-content:space-around;
                align-items: center;
                flex-wrap: wrap;
                box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
                background-color: white;
                color: black;
                border: groove 6px $marron;
                border-radius: 15px;
                margin:10%;
                
                h4 {
                    background-color: $marron;
                    width: 100%;
                    color: white;
                    font-weight: 900;
                    font-size: 25px;
                    text-align: center;
                }
                img{
                    width: 200px;
                    height:200px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    background-color: green;
                    padding: 5px;
                    width: 50%;
                    border-radius: 10px;
                    font-style: italic;
                    text-align: center;
                    &:hover{
                        background-color: white;
                        color:green;
                        }
                }
            }
            
        }
        
}
